@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background: url(./assets/background.jpg) center 58% no-repeat fixed;
    background-size: cover;
    filter: brightness(1.5);
    margin:0;
    overflow: scroll;
}

.countdown-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.05) center center no-repeat fixed;
    background-size: cover;
    overflow: scroll;
}

.countdown__heading {
    display: inline;
    position: relative;
    font-weight: bold;
    color: #ff9626;
    text-shadow: 0 0 0.5rem black;
    font-size: 2.8rem;
    text-align: center;
}

.countdown__timer {
    display: inline;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.countdown__timer-element {
    padding-top: 1.5rem;
}

.countdown__timer-element-time {
    position: relative;
    font-weight: bold;
    font-size: 5rem;
    color: #ff9626;
    text-shadow: 0 0 0.5rem black;
    line-height: 1;
    margin: 1rem 2rem; /* 1rem top und bottom 2 rem links rechts */
}

.countdown__timer-text {
    font-weight: bold;
    position: relative;
    text-align: center;
    color: #ff9626;
    text-shadow: 0 0 0.5rem black;
    font-size: 1.9rem;
    margin: 0.5rem 1rem;   
} 

@media (max-width: 80em) {

    .countdown__heading {
        font-size: 2.4rem;
    }

    .countdown__timer {
        margin: 0;
    }

    .countdown__timer-element-time {
        font-size: 2.3rem;
    }

    .countdown__timer-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 75em) {

    .countdown__heading {
        font-size: 2.2rem;
    }

    .countdown__timer {
        margin: 0;
    }

    .countdown__timer-element-time {
        font-size: 2.1rem;
    }

    .countdown__timer-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 48em) {

    .countdown__timer-element-time {
        font-size: 3.5rem;
    }

    .countdown__timer-text {
        font-size: 1.8rem;
    }
}

@media (max-width: 36em) {

    .countdown__heading {
        font-size: 1.5rem;
    }

    .countdown__timer-element-time {
        font-size: 2.3rem;
    }

    .countdown__timer-text {
        font-size: 1.5rem;
    }
}

@media (max-width: 20em) {

    .countdown__heading {
        font-size: 1.2rem;
    }

    .countdown__timer-element-time {
        font-size: 1.9rem;
    }

    .countdown__timer-text {
        font-size: 1.1rem;
    }
}